<div class="container mt-3">
  <h1 class="mb-3">Stupid Coaching</h1>

  <div class="alert alert-light" role="alert">
  <%= @question %>
  <p class="fst-italic">- You</p>
  </div>

  <div class="alert alert-warning" role="alert">
  <%= @answer %>
  <p class="fst-italic">- Your Coach</p>
  </div>

  <div>
    <%= link_to "Ask a question", ask_path, class:"text-decoration-none" %>
  </div>
</div>
