<div class="container mt-3">
  <h1 class="mb-3">Stupid Coaching</h1>

  <p>Ask your coach anything:</p>

  <div class="input-group mb-3">
    <form action="/answer" data-turbo="false" class="d-flex justify-content-center">
      <input type="text" name="question" class="form-control" aria-describedby="button-addon1">
      <input type="submit" value="Ask!" class="btn btn-primary" type="button" id="button-addon1">
    </form>
  </div>
</div>
